* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppings";
}
html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: #080808;
    color: white;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#menu-icon {
    font-size: 3.6rem;
    color:#00f7ff;
    display: none;
}
.logo{
    font-size: 3rem;
    color:white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}
span{
    color: #00f7ff;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    border-bottom: 3px solid #00f7ff;
    color: #00f7ff;
}
section {
    min-height: 100vh;
    padding: 10rem 12%;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    font-size: 4rem;
    margin: 1rem 0;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25px #00f7ff;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px #00f7ff,
                0 0 50px #00f7ff,
                0 0 100px #00f7ff;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #00f7ff;
    border-radius: 50%;
    color:#00f7ff;
    margin: 3rem 0.5rem;
}

.social-icon a:hover{
    background: #00f7ff;
    color: white;
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px #00f7ff;
}  

.btn-group{
    display: flex;
    gap:1.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background: #00f7ff;
    box-shadow: 0 0 25px #00f7ff;
    border-radius: 3rem;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #00f7ff,
                0 0 50px #00f7ff;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: #00f7ff;
    border: 2px solid #00f7ff;
    box-shadow: 0 0 25px transparent;   
}

.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px #00f7ff;
    background-color: #00f7ff;
    color:rgb(255, 255, 255);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: black;
}
.about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25px #00f7ff;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 25px #00f7ff,
                0 0 50px #00f7ff,
                0 0 100px #00f7ff;
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
}
.about-content .btn{
    margin: 3rem 0;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color:#00f7ff;
}
::-webkit-scrollbar-track{
    background-color: black;
}
.heading{
    text-align: center;
    font-size: 7rem;
    margin:5rem 0;
}
.projects {
    background-color: #000000;
    color: black;
}
.projects h2 {
    color: white;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}
.projects-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00f7ff;
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}
.projects-box:hover{
    background-color: black;
    color: #00f7ff;
    border: 5px solid var(#00f7ff);
    transform: scale(1.03);
}
.projects-info
.contact{
    background-color: #080808;
}
.contact h2{
    margin-bottom: 3rem;
    color:rgb(255, 255, 255)
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color:white;
    background-color: #080808;
    border-radius: 2rem;
    border: 2px solid #00f7ff;
    margin: 1.5rem 0;
    resize: none;
}
.footer{
    background-color: #000000;
    padding: 50px 0;
}

.footer .social-icon{
    text-align: center;
}
.footer ul{
    text-align: center;
    font-size: 1.8rem;
}
.footer ul li{
    display: inline-block;
    margin-left: 20px;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;    
}
.footer ul li a:hover{
    border-bottom: 3px solid #00f7ff;
}
.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}
@media(max-width:1024px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: #080808;
        border-left: 2px solid #00f7ff;
        border-bottom: 2px solid #00f7ff;
        border-top-left-radius: 2rem;
        display: none;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar.active{
        display: block;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .home-content{
        align-items: center;
        text-align: center;
    }
    .home-img{
        width: 52vw;
    }
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2{
        text-align: center;
        margin: 2rem 0;
    }
    .about-img{
        width: 52vw;
    }
    .contact form{
        flex-direction: column-reverse;
    
    }
}
